<div class="container">
  <h1><p align="center"><b>Welcome To My Inventory</b></p></h1>
</div>
<% if current_user.present? %>
  <% if is_customer? %>
    <%= link_to 'Want To Shop', categories_path, class: "btn btn-info btn-lg"%>
  <% end %>
<% end %>