<% if current_user.present? %>
  <% if is_customer? %>
    <hr>
    <h3><b>Categories</b>:</h3>
    <hr>
    <% @categories.each do |catg| %>
      <%= link_to category_path(catg.id) do %>
        <%= image_tag 'vehicle1', class: "img-thumbnail img-fluid", size: "300x180", alt: 'Vehicles'%>
      <% end %>  
    <% end %>
  <% else %>
    <h3> sp </h3>
  <% end %>
<% end %>