<p class="h1">Category-<%= @category.name %></p><hr/>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <% @sub_categories.each do |sc| %>
    <tr>
      <td><%= sc.name %></td>
      <td><%= link_to 'Show', products_path(category_id: @category.id, sub_category_id: sc.id), class: "btn btn-info" if is_customer? %></td>
    </tr>
  <% end %>
</table>
