<br><br><p class="h1">Categories/Sub_Categories</p> 
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <% @categories.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <% if is_customer? %>
        <td><%= link_to 'Show', sub_category_category_path(p.id), class: "btn btn-info" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
